---
apiVersion: kyverno.io/v1
kind: ClusterPolicy
metadata:
  name: enforce-image-pull-secret-docker-io
  annotations: {}
spec:
  background: true
  rules:
    - name: sync-image-pull-secret-docker-io
      skipBackgroundRequests: false
      match:
        resources:
          kinds: ["Namespace"]
      exclude:
        resources:
          namespaces:
{{ toYaml .Values.global.excludedNamespaces | indent 12 }}
      generate:
        generateExisting: true
        apiVersion: v1
        kind: Secret
        name: {{ .Values.imagePullSecret.sourceSecretName | quote }}
        namespace: '{{ "{{" }} request.object.metadata.name {{ "}}" }}'
        synchronize: true
        clone:
          namespace: {{ .Values.imagePullSecret.sourceSecretNamespace | quote }}
          name: {{ .Values.imagePullSecret.sourceSecretName | quote }}

    - name: add-image-pull-secret-when-sa-has-none-docker-io
      skipBackgroundRequests: false
      match:
        resources:
          kinds: ["ServiceAccount"]
      exclude:
        resources:
          namespaces:
{{ toYaml .Values.global.excludedNamespaces | indent 12 }}
      preconditions:
        all:
          - key: '{{ "{{" }} length(request.object.imagePullSecrets || `[]`) {{ "}}" }}'
            operator: Equals
            value: 0
      mutate:
        mutateExisting: true
        mutateExistingOnPolicyUpdate: true
        targets:
          - apiVersion: v1
            kind: ServiceAccount
            name: '{{ "{{" }} request.object.metadata.name {{ "}}" }}'
            namespace: '{{ "{{" }} request.object.metadata.namespace {{ "}}" }}'
        patchStrategicMerge:
          imagePullSecrets:
            - name: {{ .Values.imagePullSecret.sourceSecretName | quote }}