{
  "storage": {
    "type": "filesystem",
    "config": {
      "path": "/mnt/backups/kopia-system/",
      "fileMode": 384,
      "dirMode": 448,
      "dirShards": null
    }
  },
  "caching": {
    "cacheDirectory": "../../.cache/kopia/e50b455781369fdd",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "yig",
  "username": "root",
  "description": "Repository in Filesystem: /mnt/backups/kopia-system/",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}