---
network:
  version: 2
  renderer: NetworkManager
  ethernets:
    eth0:
      match:
        macaddress: {{ hostvars[inventory_hostname].eth0 }}
      set-name: eth0
      dhcp4: true
      dhcp-identifier: mac
      dhcp4-overrides:
        route-metric: 100
    eth1:
      match:
        macaddress: {{ hostvars[inventory_hostname].eth1 }}
      set-name: eth1
      dhcp4: true
      dhcp-identifier: mac
      dhcp4-overrides:
        route-metric: 200
      mtu: "9000"
